.recipe-card-container {
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
}

.recipe-card-container img {
    height: 40%;
}

.recipe-card-master {
    display: flex;
    flex-wrap: wrap;
}